:root {
    --main-background: #D7CEC7;
    --main-color: #565656;
    --accent: #C09F80;
    --dark-accent: #76323F;
    --green: #509e90;
    --red: #ad5a69;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
    color: var(--main-color);
    font-family: 'Arial', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    background-color: var(--dark-accent);
    color: var(--main-background);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-book-button {
    background-color: var(--accent);
    color: var(--main-color);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid var(--accent);
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 100%;
    border: 1px solid var(--main-color);
    background-color: var(--main-background);
    color: var(--main-color);
}

.form-div button {
    background-color: var(--dark-accent);
    color: var(--main-background);
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: var(--dark-accent);
    color: var(--main-background);
    padding: 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toggle-read,
.remove-book {
    background-color: var(--accent);
    color: var(--main-color);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.read-yes {
    color: var(--green);
    font-weight: 800;
}

.read-no {
    color: var(--red);
    font-weight: 800;
}

.footer {
    background-color: var(--dark-accent);
    padding: 10px;
    text-align: center;
}
